* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.audio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1vh;
}
.game-board {
    width: 50%;
    height: 300px;
    border: 1px solid #333;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.cenario {
    position: absolute;
    bottom: 0;
    width: 1000px;
}

.fox {
    width: 200px;
    position: absolute;
    bottom: 0px;
    left: 30%;
    animation: fox-animation 2s infinite, turtwirl 2s infinite;
}

.tumbleweed {
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: tumbleweed-animation 3s infinite linear;
}

.kirby{
    position: absolute; top: 75%;
    bottom: 0;
    width: 80px;
    animation: kirby-animation 3s infinite linear;
    top: 10%;
}
@keyframes tumbleweed-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes kirby-animation{
    from{
        left: -80px;
    }
    to{
        left: 100%;
    }
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotateX(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes fox-animation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(10deg);
    }
}